<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138884733616-nmjtc8moabheikbantpi06kej24ham2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138884733616-nmjtc8moabheikbantpi06kej24ham2r</string>
	<key>API_KEY</key>
	<string>AIzaSyDQu-jt4c190Z7cA7pyyDOAYoNQ21GlT60</string>
	<key>GCM_SENDER_ID</key>
	<string>138884733616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoey</string>
	<key>PROJECT_ID</key>
	<string>todoey-df313</string>
	<key>STORAGE_BUCKET</key>
	<string>todoey-df313.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138884733616:ios:803453cb29de0258473975</string>
</dict>
</plist>